@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
body{
    margin:0;
    padding:0;
    height:100vh;
    font-weight:bold;
    font-family: "Pixelify Sans" ;
    overflow-x:hide;
}
:root{
    --tangerine:#DEAA79;
    --tan:#FFE6A9;
    --greenish:#B1C29E;
    --greenerish:#b8e486;
    --trans_greenish:#b1c29e83;
    --turquoise:#659287;
    --white:#ffffff;
    --black:#000000;
}

header{ 
    z-index:10;
    background-color:var(--turquoise);
    width:100%;
    display:flex;
    flex-direction: column;
}

header ul{
    display:flex;
    list-style-type:none;
    margin:0px;
}

header li{
    padding:15px;
}

header a{
    color:var(--white);
    text-decoration: none;
    font-size:20px;
}

header li:hover{
    background-image:linear-gradient(to bottom right, var(--greenish), var(--tangerine));
}

.overlay{
    position:absolute;
    transform:translateY();
    padding: 75px;

}

.overlay h1{
    font-size:50px;
}

h1, p, button{
    color:var(--white)
}

.overlay button{
    border:1px solid var(--tangerine);
    background-color: transparent;
    padding:25px 75px 25px 15px;
    font-weight:bold;
    font-size:25px;
    font-family: "Pixelify Sans";
}

.overlay button:hover{
    background-color:var(--trans_greenish)
}

#info{
    height:100vh;
    background-image: url('eevee-pokemon-4k-wallpaper-uhdpaper.com-101@2@a.jpg');
    background-size:cover;              /* fixed image to cover */
    background-position: center;    
    background-repeat: no-repeat;
    width: 100%;
}

.info{
    position:relative;
    width:100%;
    background-image:linear-gradient(to bottom right, var(--greenish), var(--greenerish));
    height:100vh;
    display: flex;
    align-items: center;  /* fixed image to align center */
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.container{
    border:2px solid white;
    width:25%;
    height:25%;
    display:flex;
    justify-content: center; /* fixed to align center */
    align-items: center;
}
.footer{
    background-color: var(--turquoise);
    color: var(--white);
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 10px;
    bottom: 0px;
    font-family:"Pixelify Sans", Arial, Helvetica, sans-serif;
    }
.instructions {
    background-color: var(--tan);
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px;
    color: var(--black);
}
.instructions h1 {
    color: var(--turquoise);
    font-size: 24px;
    text-align: center;
}

.instructions ol {
    padding-left: 20px;
}

.instructions li {
    margin-bottom: 10px;
    font-size: 16px;
}

.instructions p{
 color: black;
}

.characters {
padding: 20px;
text-align: center;
background-color: var(--tan);
border-radius: 5px;
max-width: 100%;
margin: 20px auto;
}

.character-grid{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
justify-items: center;
}

.character-grid div {
text-align: center;
padding:15px;
background-color: var(--turquoise);
border-radius: 8px;
}

.character-grid img{
 width: 100px;
 height: 100px;
 border-radius: 50%;
 margin-bottom: 10px;
}

.character-grid h3{
font-size: 18px;
color: var(--tangerine);
margin: 10px 0;
}

#character_who_do_you_choose {
    text-align: center;
    color: var(--black);

}

#lore_div p{

    font-size: 25px;
    text-align: center;
    line-height: 1.9em;
    
    
}

#lore {
    background-image: url(lore_background.jpg);
    height: 100vh;
    background-size:cover;              /* fixed image to cover */
    background-position: center;    
    background-repeat: no-repeat;
    opacity: 0.5;
    align-items: center;
    padding: 50px;
    
    
}

#lore div {

    align-items: center;
    padding-top: 20%;
    padding: auto;

    text-indent: 75px;
}


